<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748534002938-gr9ouu3aon9iek8msa5fg44ufjk85luo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748534002938-gr9ouu3aon9iek8msa5fg44ufjk85luo</string>
	<key>API_KEY</key>
	<string>AIzaSyDnomPZJTyPJ36trtmSqanndqBoqPQ9KtI</string>
	<key>GCM_SENDER_ID</key>
	<string>748534002938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eigenjm.MyDiaryForTCA</string>
	<key>PROJECT_ID</key>
	<string>mydiaryfortca</string>
	<key>STORAGE_BUCKET</key>
	<string>mydiaryfortca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748534002938:ios:9bd83b12f6e0482094c543</string>
</dict>
</plist>